* {
    padding: 0;
    margin: 0;
    text-decoration: none;  
    list-style: none;  
    box-sizing: border-box;
    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;  
        background: #0f0d06;
    }
    
    
    header {
    position: relative;    
    }

    html, body {
        height: 100%;
    }
    
    
    nav {
        position: relative;
        width: 100%;
        height: 75px;
        line-height: 120px;
        padding: 0px 85px;
    }
    
    nav ul {
        float: right;
    
    }
    nav ul li {
    display: inline-block;    
    }
    
    nav ul li a {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0px 20px;
    }
    
    nav ul li a:hover {
    color: #614902;    
    }
    
    nav ul .active {
        color: #fff;     
    }
    
    .checkbtn {
        font-size: 25px;
        cursor: pointer;
        float: right;
        display: none;
        color: #fff;
    }
    
    #check {
        display: none;
    }
    
    @media screen and (max-width: 990px){
    nav {
    padding: 0px 50px;    
    }  
    .checkbtn {
    display: block;
    }
    
    nav ul {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 75px;
    left: -100%;
    background: #29220f;  
    text-align: center;  
    transition: 0.4s ease;
    z-index: 20;
    }
    
    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }
    
    #check:checked ~ ul{
    left: 0;    
    }
    
    }

    main {
        position: relative;
        min-height: 100%;
    }
    

.welcome{
    margin: 0 auto;
   padding: 20px;
   width: 50%;
   color: #fff;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   }   

   
   .welcome h1{
       color: #fff; 
       margin-bottom: 10px;  
       font-family: 'Raleway', sans-serif;
   }

   .welcome hr {
    margin: 1rem 5%;
    color: #68412f;    
    }

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container1{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.faq-item{
    background-color: #272523;
border-radius: .4rem;
margin-bottom: 1rem;
padding: 1rem;

}

.faq-link{
  font-size: 1.6rem;
  color: #fff;    
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
justify-content: space-between;
}

.faq-link i{
 color: #70422b;   
 padding: .5rem;
}

.faq-link .ion-md-remove{
display: none;
}

.rta{
 max-height: 0;
 overflow: hidden;   
 position: relative;
 background-color: rgb(17, 17, 17);

}

.rta::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
background-color: #70422b;
top: 50%;
left: 0;
transform: translateY(-50%);
}

.rta p{
font-size: 1.4rem;
padding: 2rem;
color: #fff;
}

.faq-item:target .rta{
max-height: 20rem;    
}


.container{
    position: relative;
    width: 100%;
      padding: 1em;
      margin: 0 auto;
     border: 1px solid #ad5e39;
      border-radius: 20px;
      padding: 40px;

  }
  
  .container h2{
  text-align: center;
      text-transform: uppercase;
      color: #8a4d31;
      font-family: Cormorant Garamond, Helvetica, Arial, sans-serif;
      padding-bottom: 20px;
      font-size: 30px;
  }
  
  #contact input[type="tel"], #contact input[type="text"],#contact input[type="email"] {
      display: block;
      padding: 10px;
      margin: 10px auto;
      width: 100%;
      font-size: 18px;
      color: #f0a580;
      border: none;
      background: none;
      border-bottom: 1px solid #8a4d31;
      outline: none;
  }
  
  .right textarea {
      display: block;
      padding: 10px;
      margin: 10px auto;
      width: 100%;
      font-size: 18px;
      color: #d49b7e;
      border: none;
      background: none;
      border: 1px solid #6e3f2a;
      outline: none;
  }
  
  #contact textarea{
      font-size: 20px;
  }
  
  #contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 180px;
      min-height: 180px;
    resize: none;
  }
  
  #contact .send-button{
      text-align: center;
  }
  
  #contact .send-button button[type="submit"]{
      color: #fff;
    background: #68412f;
    border: none;
      width: 100%;
      padding: 10px 0;
      font-size: 20px;
      transition: .5s all ease;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20%;
  }
  
  #contact .send-button button[type="submit"]:hover{
      background: #8a4d31;
  }
  
  #contact .send-button button[type="submit"]:focus{
      position: relative;
      top: 2px;
  }
  
  
  @media screen and (min-width: 640px){
      .container{
          width: 600px;
      }
    
    #contact textarea{
      max-width: 98%;
      min-width: 98%;
      min-height: 215px;
      margin-right: 0;
    }
  
      #contact .right,#contact .left{
          display: block;
      }
  
      #contact .right{
          float: right;
          width: 50%;
      }
    
      #contact .left{
          float: left;
          width: 50%;
      }
      .cl{
      clear: both;
    }
  }



    .footer {
        position: relative;
        width: 100%;
        max-width: fit-content;
        margin: 0 auto;   
        height: 150px;
        background: #44342c; 
        
        }
        
        .copy {
         position: absolute;
         width: 100%;
         color: #fff;
         bottom: 0;
         background: #0f0d06;
         text-align: center;
        padding: 20px;
        opacity: 0.5;
        }
        
        .copy a{
        color: #fff;    
        }
        
        .socials{
        text-align: center;
        align-items: center;
        padding: 20px;
        }
        
        .socials a{
            color: #fff;    
            margin: 0 15px; 
            font-size: 40px;
        }
        
        .socials a:hover{
        color: #29220f;   
        }

        .olas{
            margin-top: 100px;    
            }
            
            .wave {
                width: 100%;
            position: absolute;
            z-index: 20;
            }
            
            .wave2 {
            opacity: 0.8;    
            z-index: 10;
            }