* {
    padding: 0;
    margin: 0;
    text-decoration: none;  
    list-style: none;  
    box-sizing: border-box;
    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;  
        background: #0f0d06;
        min-height: 100%;
    }
    
    
    header {
    position: relative;    
    }

    html, body {
        height: 100%;
    }
    
    
    nav {
        position: relative;
        width: 100%;
        height: 75px;
        line-height: 120px;
        padding: 0px 85px;
    }
    
    nav ul {
        float: right;
    
    }
    nav ul li {
    display: inline-block;    
    }
    
    nav ul li a {
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0px 20px;
    }
    
    nav ul li a:hover {
    color: #614902;    
    }
    
    nav ul .active {
        color: #fff;     
    }
    
    .checkbtn {
        font-size: 25px;
        cursor: pointer;
        float: right;
        display: none;
        color: #fff;
    }
    
    #check {
        display: none;
    }
    
    @media screen and (max-width: 990px){
    nav {
    padding: 0px 50px;    
    }  
    .checkbtn {
    display: block;
    }
    
    nav ul {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 75px;
    left: -100%;
    background: #29220f;  
    text-align: center;  
    transition: 0.4s ease;
    z-index: 20;
    }
    
    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }
    
    #check:checked ~ ul{
    left: 0;    
    }
    
    }

    main {
        position: relative;
        min-height: 100%;
    }

    h1 {
        margin: 0 auto;
     text-transform: uppercase;   
     color: #fff;
     text-align: center;
     align-items: center;
     justify-content: center;
    }


    .grid-container .grid-item img{
        max-width: 100%;
        height: auto;
    }

.grid-container{
    margin: 0 0.65rem;
    width: 100%;
}

.grid-item{
    height: auto;
    margin: 0.5rem;
}

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.05);
}

.grid-container .grid-item img{
 width: 100%;
 height: 100%;   
 object-fit: cover;
}

@media (min-width: 640px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-auto-flow: row dense;
    }

    .grid-item{
        margin: 0.7rem;
    }

    .grid-item:first-child{
        grid-row: 2;
    }

    .grid-item:nth-child(2){
        grid-column: 2/3;
        grid-row: span 2;
    }

    .grid-item:nth-child(6),
    .grid-item:nth-child(8){
        grid-row: span 2;
    }
}

@media (min-width: 960px) {
    .grid-container {
      grid-template-columns: repeat(5, 1fr);  
      grid-template-rows: repeat(3, auto-flow);
    }

    .grid-item:first-child,
    .grid-item:nth-child(7),
    .grid-item:nth-child(8) {
        grid-column: span 2;
        grid-row: span 1;
    }

    .grid-item:nth-child(2){
        grid-column: span 2;
        grid-row: span 2;
    }
}


.footer {
    position: relative;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;   
    height: 150px;
    background: #44342c; 
    max-width: 100%;
    }
    
    .copy {
     position: absolute;
     width: 100%;
     color: #fff;
     bottom: 0;
     background: #0f0d06;
     text-align: center;
    padding: 20px;
    opacity: 0.5;
    width: 100%;
    max-width: 100%;
    }
    
    .copy a{
    color: #fff;    
    }
    
    .socials{
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    }
    
    .socials a{
        color: #fff;    
        margin: 0 15px; 
        font-size: 40px;
    }
    
    .socials a:hover{
    color: #29220f;   
    }
    
    .olas{
    margin-top: 50%;    
    }
    
    .wave {
        width: 100%;
    position: absolute;
    z-index: 20;
    }
    
    .wave2 {
    opacity: 0.8;    
    z-index: 10;
    }
